<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pequet.stentor.periodic.{{SOURCES_FILE_LABEL}}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/periodic_harvester.sh</string>
        <string>{{CONTENT_SOURCES_FILE_PATH}}</string>
        <string>--use-break-on-existing</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>{{INTERVAL_IN_SECONDS}}</integer>
    <key>StandardErrorPath</key>
    <string>/tmp/com.pequet.stentor.periodic.{{SOURCES_FILE_LABEL}}.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.pequet.stentor.periodic.{{SOURCES_FILE_LABEL}}.out</string>
</dict>
</plist> 